langchain
langgraph
langchain_community
langchain_core
langchain-text-splitters
langchain_groq
faiss-cpu
langchain_tavily
tavily
streamlit
requests
beautifulsoup4
wikipedia
langchain-huggingface
sentence-transformers
pdf2image
pytesseract
Pillow
unstructured
unstructured-inference
spacy
en-core-web-sm
pi-heif
pdfminer.six
faiss-cpu
pypdf
yt_dlp 
youtube-transcript-api
unstructured-pytesseract
