langchain
langgraph
langchain_community
langchain_core
langchain-text-splitters
langchain_groq
faiss-cpu
langchain_tavily
tavily
streamlit
wikipedia
langchain-huggingface
sentence-transformers
unstructured
unstructured-inference
pi-heif
pdfminer.six
faiss-cpu
pypdf
yt_dlp 
youtube-transcript-api
