langchain
langgraph
langchain_community
langchain_core
langchain_groq
faiss-cpu
langchain_tavily
tavily
streamlit
wikipedia
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
yt_dlp 
youtube-transcript-api
